<style type="text/css">
	

	.typotitulonoticia {
		font-size: 1.6rem;
		font-weight: bold;
		line-height: 1.6rem;
	}

	.typoautorfechanoticia {
		font-size: 0.8rem;
		font-weight: normal;
		line-height: 1.8rem;
	}

	.typosocialnoticia {
		font-size: 0.8rem;
		font-weight: normal;
		line-height: 0.8rem;
		color: #0097a7;
	}


	.comofunciona {

		width: 960px; 
		margin: auto;

		display: -ms-grid;
		-ms-grid-columns: 10px 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 10px ;
		-ms-grid-rows:  36px 234px 178px 48px 84px 1fr;


		display: grid;
		grid-template-columns: 10px repeat(12, 1fr) 10px ;
		grid-template-rows: 36px 234px 178px 48px 84px [cuerpotexto] 1fr [fincuerpotexto];
		grid-column-gap: 20px;

		color: white;
		background-color: white;

		
	}

	.comofunciona .imagenfondo {
		-ms-grid-column: 1;
		-ms-grid-column-span: 27;

		-ms-grid-row: 1;
		-ms-grid-row-span: 3;

	    /*z-index: -1;*/
		grid-column: 1 / -1;
		grid-row: 1 / 4;

		background: url('images/como-funciona.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	.comofunciona .titulo {
		-ms-grid-column: 5;
		-ms-grid-column-span: 3;

		-ms-grid-row: 1;
		-ms-grid-row-span: 1;

		grid-column: 3 / span 2;
		grid-row: 1 / 2;
		background-color: white;
		text-align: center;
		line-height: 36px;
	}

	.comofunciona .infocard {
		z-index: 2;

		-ms-grid-column: 5;
		-ms-grid-column-span: 9;

		-ms-grid-row: 3;
		-ms-grid-row-span: 2;

		grid-column: 3 / span 5;
		grid-row: 3 / 5;

		display: flex;
		flex-direction: column;
		justify-content: space-between;


		background-color: #f5f5f5;

		box-shadow:2px 2px 6px rgba(0,0,0,0.4);

		font-size: 1.4rem;

	}

	.comofunciona .infocard footer { 
		height: 48px;
		background-color: white;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding-left: 1.0rem;
		padding-right: 1.0rem;
		font-size: 0.8rem;
	}

	.comofunciona .infocard footer div { 
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.comofunciona .infocard .info {
		height: 178px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0.8rem 1rem 1rem 1rem;
		font-size: 2rem;
		line-height: 2rem;
		font-weight: bold;
	} 

	.comofunciona .socialnoticia {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 10rem;
	}

	.comofunciona .titulocomofunciona {
		margin-top: 3rem;

		-ms-grid-column: 5;
		-ms-grid-column-span: 9;

		-ms-grid-row: 5;
		-ms-grid-row-span: 1;

		grid-column: 3 / span 5;
		grid-row: 5  / span 1;
		color: black;
		font-weight: 300;
		font-size: 1.6rem;
	}

	.comofunciona .col1 {
		-ms-grid-column: 5;
		-ms-grid-column-span: 9;


		grid-column: 3 / span 5;
	}

	.comofunciona .col2 {
		-ms-grid-column: 15;
		-ms-grid-column-span: 9;

		grid-column: 8 / span 5;
	}

	.comofunciona .cuerpotexto {
		margin-top: 0.5rem;
		/*grid-column: 3 / span 6;*/
		-ms-grid-row: 6;
		-ms-grid-row-span: 1;

		grid-row: cuerpotexto / fincuerpotexto;
		font-size: 0.9rem;
		line-height: 1.2rem;
	}

	.comofunciona .cuerpotexto p {
		margin-bottom: 1.1rem;
	}


	@media only screen and (max-width: 960px) { 
		.perfil, .publicidad, .dinamicas, .comofunciona  {
			width: 100%;
		}

		.comofunciona  {
				-ms-grid-columns: 5px 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 1fr 20px 5px ;
				grid-template-columns: 5px repeat(12, 1fr) 5px ;
		}


		.comofunciona .titulocomofunciona {
			-ms-grid-column: 3;
			-ms-grid-column-span: 24;

			grid-column: 2 / -2;
		}

		.comofunciona .col1 {
			-ms-grid-column: 3;
			-ms-grid-column-span: 24;

			grid-column: 2 / -2;
		}

		.comofunciona .col2 {
			-ms-grid-column: 3;
			-ms-grid-column-span: 24;

			-ms-grid-row: 7;
			-ms-grid-row-span: 1;

			grid-column: 2 / -2;
			grid-row: fincuerpotexto / span 1;
		}

		
	}

</style>

<section class="comofunciona ">
	<div class="imagenfondo">
	</div>

	<h2 class="titulocomofunciona" style="margin-bottom: 1rem">¿Cómo funciona?</h2>


	<div class="cuerpotexto col1 grisoscuro">
		
		<p>Con Beneficios Telcel puedes ganar experiencias inolvidables, como entradas a conciertos, meet & greet, pases VIP a competencias y muchas más. Solo sigue estos sencillos pasos:</p>

		<p>1. Participa en la dinámica. Asegúrate de leer bien las instrucciones, ¡el tiempo cuenta! Gana quien tenga más respuestas correctas en el menor tiempo posible.</p>

		<p>2. ¡No olvides declarar tu ventaja! Antes de comenzar la dinámica te preguntará si tienes contratado el servicio Telcel que te dará una respuesta correcta extra o 30 segundos de ventaja al participar.</p>


		
	</div>

	<div class="cuerpotexto col2 grisoscuro">
		<p>3. Participa en la dinámica. Asegúrate de leer bien las instrucciones, ¡el tiempo cuenta! Gana quien tenga más respuestas correctas en el menor tiempo posible.</p>

		<p>Para cualquier duda o aclaración, escríbenos a <span style="color: #00338d">beneficiostelcel@telcel.com.</span></p>
	</div>

</section>


<script type="text/javascript">
	$(document).ready( function() {
		parent.postMessage('scrollthem,0', '*');
	})
</script>